@import './class-cards.scss';
@import './class-table.scss';
@import './header.scss';

$input-background: #333;
$input-border: #333;
$input-border-hover: #757c8a;
$border: hsl(218, 5%, 40%);
$input-text-color: rgb(143, 150, 163);

body.modal-open {
  overflow: hidden;
}

main {
  margin: auto;
  justify-content: center;
}

.grid {
  display: grid;
  justify-content: center;
  margin: auto;
  margin-bottom: 7px;
  padding: 0 3dvw;
  max-width: 90dvw;
  min-width: 70dvw;
}

.about {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__main a {
    text-decoration: underline;
    &:hover {
      color: #c2c9d6;
    }
    i {
      font-size: 12px !important;
    }
  }
}

@media (max-width: 650px) {
  .icons {
    display: none !important;
  }
  .openRandom {
    display: none;
  }
  input[type='checkbox'] {
    display: none;
  }
  .modal-scrollable-content {
    margin-left: 15px;
    margin-right: 5px;
  }
  .cards {
    flex: 1 1 0;
    max-width: unset;
  }
}

@media (max-width: 650px) {
  .filter {
    gap: 1px;
    margin-top: 3.5px;
    margin-bottom: 3.5px;
  }
  .card__bookAndAuthor__author {
    margin: 1.5px;
  }
  .card__bookAndAuthor__book {
    display: none;
  }
}

@media (max-width: 450px) {
  .countResults {
    display: none;
  }
}
