*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  margin: 0;
  align-items: center;
}

#root {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: inherit;
}
