.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.94);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  font-size: 0.938rem;
  line-height: 1.2em;
  position: relative;
  background: rgba(255, 255, 255);
  padding: 4dvh 4dvw;
  border-radius: 5px;
  max-width: 667px;
  max-height: 93dvh;
  overflow-y: auto;
  color: black;
  text-align: left;
  animation: slide-up-fade-in 0.1s ease-out forwards;
}

@media (max-width: 500px) {
  .modal-content {
    font-size: 1rem;
  }
}

@keyframes slide-up-fade-in {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-close {
  font-size: 1.188rem;
  position: absolute;
  top: 2%;
  right: 2%;
  background: none;
  border: none;
  cursor: pointer;
  color: #8f96a3;
}

.modal-close:hover {
  color: #111213;
}

.modal-content h4 {
  margin-bottom: 3px;
  margin-top: 7px;
}

.modal-content h2 {
  margin-top: 10px;
  margin-bottom: 3px;
  line-height: 1.5rem;
}

.modal-content p {
  margin-top: 10px;
  margin-bottom: 10px;
}
